html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  font-size: 20px;
  text-align: center;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #1b1b1b;
}

h1,
h2 {
  color: #1db954;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.3);
}

h3 {
  color: #63717f;
  font-size: 22px;
  font-weight: normal;
}

p,
blockquote {
  color: #e8f0fe;
}

a {
  color: #1db954;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  background-color: #1b1b1b;
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
}

.header {
  width: 100%;
  display: block;
  color: #1db954;
  background-color: #191414;
  text-align: center;
  font-size: 2rem;
}

#song-search {
  display: block;
  width: 100%;
  background-color: #191414;
  padding-bottom: 30px;
}

input[type="submit"] {
  background-color: #1db954;
  cursor: pointer;
  font-weight: bold;
}

input[type="text"],
input[type="submit"] {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 40px;
  border-radius: 5px;
  border: none;
  width: 50%;
  outline: 0;
}

.loader {
  color: #1db954;
  display: none;
  margin: 40px auto;
}

.song blockquote {
  white-space: pre-wrap;
}

.container {
  height: 60px;
  background-color: #191414;
  color: #1db954;
  padding-top: 25px;
}

@media screen and (min-width: 800px) {
  main {
    flex-direction: row;
  }

  main > * {
    padding: 1rem;
    flex-basis: 50%;
  }
}

@media (min-width: 551px) and (max-width: 855px) {
  .header,
  body,
  .footer,
  h3 {
    font-size: 18px;
  }

  .footer {
    font-size: 14px;
  }
  .footer span {
    padding: 5px;
  }
}

@media screen and (max-width: 550px) {
  .header,
  body,
  .footer,
  h3 {
    font-size: 14px;
  }

  .footer {
    font-size: 10px;
  }
}
